@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
	text-align: center;
	background-image: url("../img/background.jpg");
}

#title-game {
	font-family: 'Permanent Marker', cursive;
	padding-top: 50px;
	font-size: 12vh;
}

button {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	font-size: 5vh;
	min-width: 400px;
}

.card .front {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-image: url("../img/back-card.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;
}

.card .back {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transform: rotateY(180deg);
}

.card-inner .back .title {
	width: 100%;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 6px;
	font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.menu {
	padding-top: 50px;
	text-align: center;
	font-size: 2.5vh;
	margin-bottom: 5px;
}

.start {
	width: 200px;
	height: 64px;
	line-height: 64px;
	background-color: black;
	color: #fff;
	margin-right: -100px;
	margin-left: -100px;
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
}

.start:hover {
	background-color: #0040c8;
}

.restart {
	display: inline-block;
	padding: 8px;
	background-color: #000;
	color: #fff;
	margin-top: 4px;
	cursor: pointer;
}

.restart:hover {
	background-color: #0040c8;
}

.end-message {
	width: 400px;
	height: 200px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}

.playAgain {
	width: 200px;
	height: 64px;
	line-height: 64px;
	background-color: #000;
	color: #fff;
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
}

.playAgain:hover {
	background-color: #0040c8;
}

.memory {
	width: 55rem;
	height: 40rem;
	margin: 0 auto;
}

.card {
	float: left;
	margin-top: 10px;
	border: none;
	margin-left: 20px;
	width: 5.5rem;
	height: 6.5rem;
	perspective: 1000px;
}

.memory .card {
	background-image: url("../img/background.jpg");
}
.matched .back .title {
	font-weight: bold;
    text-decoration: underline;
}

.card-inner {
	position: relative;
	width: 5.5rem;
	height: 6.5rem;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flipped {
	transform: rotateY(180deg);
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

@media screen and (max-width: 1280px) {
	.start {
		width: 100px;
		height: 64px;
	}
}

@media screen and (max-width: 900px) {
	.memory {
		width: 30rem;
		height: 50rem;
	}
	.card-inner {
		width: 4.5rem;
		height: 5.5rem;
		margin-left: 5px;
	}
	.card {
		width: 4.5rem;
		height: 5.5rem;
		margin-left: 5px;
	}
	#title-game {
		padding-top: 15px;
		font-size: 10vh;
	}
	.card-inner .back .title {
		font-size: 1rem;
	}
}

@media screen and (max-width: 490px) {
	.memory {
		width: 25rem;
		height: 36rem;
	}
	.card-inner {
		width: 3.7rem;
		height: 4.7rem;
	}
	.card {
		width: 3.7rem;
		height: 4.7rem;
	}
	.start {
		min-width: 170px;
	}
	.playAgain {
		margin-left: 100px;
	}
	.end-message {
		margin-top: 30px;
	}
	#title-game {
		font-size: 7vh;
	}
}

@media screen and (max-width: 416px) {
	.memory {
		width: 22rem;
		height: 35rem;
	}
	.card-inner {
		width: 3.2rem;
		height: 4.5rem;
		margin-left: 4.5px;
	}
	.card {
		width: 3.2rem;
		height: 4.5rem;
		margin-left: 4.px;
	}
	.menu {
		padding-top: 8px;
		text-align: center;
		font-size: 2vh;
		margin-bottom: 5px;
	}
	.end-message {
		width: 22rem;
		margin-top: 30px;
	}
	.playAgain {
		margin-left: 80px;
	}
	.card-inner .back .title {
		font-size: 0.7rem;
	}
	#title-game {
		font-size: 6vh;
	}
}

@media screen and (max-width: 362px) {
	.memory {
		width: 20rem;
		height: 35rem;
	}
	.end-message {
		width: 20rem;
	}
	.card-inner {
		width: 2.8rem;
		height: 3.8rem;
		margin-left: 5px;
	}
	.card {
		width: 2.8rem;
		height: 3.8rem;
		margin-left: 5px;
	}
	.card-inner .back .title {
		font-size: 0.6rem;
	}
	.playAgain {
		margin-left: 60px;
	}
}

@media screen and (max-width: 332px) {
	.memory {
		width: 18rem;
		height: 35rem;
	}
	.card-inner {
		width: 2.8rem;
		height: 3.8rem;
		margin-left: 15px;
	}
	.card {
		width: 2.8rem;
		height: 3.8rem;
		margin-left: 15px;
	}
	.card-inner .back .title {
		font-size: 0.6rem;
	}
	.start {
		min-width: 80px;
		font-size: 4vh;
	}
	#title-game {
		font-size: 5vh;
	}
	.end-message {
		width: 15rem;
	}
	.playAgain {
		margin-left: 45px;
	}
}

