

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
	min-height: 100vh;
	text-align: center;
	background-image: url("../img/background.jpg");
}

#title-game {
	font-family: 'Permanent Marker', cursive;
	padding-top: 50px;
	font-size: 15vh;
}

button {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	font-size: 5vh;
	min-width: 400px;
}

.card .front {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-image: url("../img/back-card.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card .back {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card .back .title {
	width: 100%;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 6px;
	font-size: 1.2rem;
}

.menu {
	padding-top: 50px;
	text-align: center;
	font-size: 2.5vh;
	margin-bottom: 5px;
}

.start {
	width: 200px;
	height: 64px;
	line-height: 64px;
	background-color: black;
	color: #fff;
	margin-right: -100px;
	margin-left: -100px;
	margin-top: 20px;
	text-align: center;
	cursor: pointer;
}

.start:hover {
	background-color: #0040c8;
}

.restart {
	display: inline-block;
	padding: 8px;
	background-color: #000;
	color: #fff;
	margin-top: 4px;
	cursor: pointer;
}

.restart:hover {
	background-color: #0040c8;
}

.end-message {
	width: 400px;
	height: 200px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}

.playAgain {
	width: 200px;
	height: 64px;
	line-height: 64px;
	background-color: #000;
	color: #fff;
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
}

.playAgain:hover {
	background-color: #0040c8;
}

footer {
	float: bottom;
	padding-top: 180px;
	margin-bottom: 20px;
}

.memory {
	width: 50rem;
	height: 30rem;
	margin-bottom: 40px;
	margin: 0 auto;
	border: solid 1px;
}

.card {
	width: 5.5rem;
	height: 6.5rem;
	float: left;
	margin-top: 10px;
	border: none;
	margin-left: 10px;
}

.memory .card {
	background-image: url("../img/background.jpg");
}

@media screen and (max-width: 1280px) {
	.start {
		width: 100px;
		height: 64px;
	}
}

@media screen and (max-width: 825px) {
	.memory {
		width: 30rem;
		height: 50rem;
	}
	.card {
		width: 4.5rem;
		height: 5.5rem;
		margin-left: 20px;
	}
	#title-game {
		padding-top: 15px;
		font-size: 10vh;
	}
}

@media screen and (max-width: 490px) {
	.memory {
		width: 25rem;
		height: 36rem;
	}
	.card {
		width: 4rem;
		height: 5rem;
		margin-left: 13px;
	}
	.start {
		width: 55px;
		height: 64px;
	}
	.playAgain {
		margin-left: 100px;
	}
	.end-message {
		margin-top: 30px;
	}
	.card .back .title {
		font-size: 1rem;
	}
	#title-game {
		font-size: 7vh;
	}
}

@media screen and (max-width: 408px) {
	.memory {
		width: 22rem;
		height: 35rem;
	}
	.card {
		width: 3.5rem;
		height: 4.5rem;
		margin-left: 2px;
	}
	button {
		min-width: 200px;
	}
	.start {
		margin-left: -150px;
	}
	.menu {
		padding-top: 8px;
		text-align: center;
		font-size: 2vh;
		margin-bottom: 5px;
	}
	.end-message {
		padding-right: 40px;
		margin-top: 30px;
	}
	.playAgain {
		margin-left: 80px;
	}
	.card .back .title {
		font-size: 0.8rem;
	}
	#title-game {
		font-size: 6vh;
		margin-right: 50px;
	}
}


